<a id="github-link"
    class="icon" title="Github" aria-label="Github"
    href="https://github.com/{{ site.github_username }}">
  {% include svg/github.svg %}
</a>
<a id="linkedin-link"
    class="icon" title="LinkedIn" aria-label="LinkedIn"
    href="https://linkedin.com/in/{{ site.linkedin }}">
  {% include svg/linkedin.svg %}
</a>
<a id="email-link"
    class="icon" title="Email" aria-label="Email"
    href="mailto:{{ site.email }}">
  {% include svg/email.svg %}
</a>

<a id="twitter-link"
    class="icon" title="Twitter" aria-label="Twitter"
    href="https://twitter.com/{{ site.twitter }}">
  {% include svg/twitter.svg %}
</a>


<a id="google-scholar-link"
    class="icon" title="Google-scholar" aria-label="Google-scholar"
    href="https://scholar.google.fr/citations?user=aBOtZjIAAAAJ">
  {% include svg/gscholar.svg %}
</a>

<a id="lattes"
    class="icon" title="lattes" aria-label="lattes"
    href="http://lattes.cnpq.br/2488791027245465">
  {% include svg/lattes.svg %}
</a>

